In [1]:
# 라이브러리 가져오기

In [7]:
import pandas as pd
train = pd.read_csv('./train.csv')
test = pd.read_csv('./test.csv')

In [12]:
train.head()
test.head()
train.shape, test.shape #((20758, 18), (13840, 17))

((20758, 18), (13840, 17))

In [16]:
# 결측치 확인
train.isnull().sum().sum()
test.isnull().sum()

id                                0
Gender                            0
Age                               0
Height                            0
Weight                            0
family_history_with_overweight    0
FAVC                              0
FCVC                              0
NCP                               0
CAEC                              0
SMOKE                             0
CH2O                              0
SCC                               0
FAF                               0
TUE                               0
CALC                              0
MTRANS                            0
dtype: int64

In [18]:
# 자료형(타입)
train.info() # int, object, float
test.info() # int, object, float

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20758 entries, 0 to 20757
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              20758 non-null  int64
 1   Gender                          20758 non-null  object
 2   Age                             20758 non-null  float64
 3   Height                          20758 non-null  float64
 4   Weight                          20758 non-null  float64
 5   family_history_with_overweight  20758 non-null  object
 6   FAVC                            20758 non-null  object
 7   FCVC                            20758 non-null  float64
 8   NCP                             20758 non-null  float64
 9   CAEC                            20758 non-null  object
 10  SMOKE                           20758 non-null  object
 11  CH2O                            20758 non-null  float64
 12  SCC                             20758 non-null  object
 13  FAF                             20758 non-null  float64
 14  TUE                             20758 non-null  float64
 15  CALC                            20758 non-null  object
 16  MTRANS                          20758 non-null  object
 17  NObeyesdad                      20758 non-null  object
dtypes: float64(8), int64(1), object(9)
memory usage: 2.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13840 entries, 0 to 13839
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              13840 non-null  int64
 1   Gender                          13840 non-null  object
 2   Age                             13840 non-null  float64
 3   Height                          13840 non-null  float64
 4   Weight                          13840 non-null  float64
 5   family_history_with_overweight  13840 non-null  object
 6   FAVC                            13840 non-null  object
 7   FCVC                            13840 non-null  float64
 8   NCP                             13840 non-null  float64
 9   CAEC                            13840 non-null  object
 10  SMOKE                           13840 non-null  object
 11  CH2O                            13840 non-null  float64
 12  SCC                             13840 non-null  object
 13  FAF                             13840 non-null  float64
 14  TUE                             13840 non-null  float64
 15  CALC                            13840 non-null  object
 16  MTRANS                          13840 non-null  object
dtypes: float64(8), int64(1), object(8)
memory usage: 1.8+ MB

In [23]:
# 수치형 데이터 확인
train.describe()
test.describe()

# 범주형 데이터 확인
train.describe(include='O')
test.describe(include='O')

# train["NObeyesdad"].value_counts()

,Gender,family_history_with_overweight,FAVC,CAEC,SMOKE,SCC,CALC,MTRANS
count,13840,13840,13840,13840,13840,13840,13840,13840
unique,2,2,2,4,2,2,4,5
top,Female,yes,yes,Sometimes,no,no,Sometimes,Public_Transportation
freq,6965,11384,12583,11689,13660,13376,9979,11111

In [ ]:
#--------------------
# 데이터 전처리
#--------------------
# 이상치, 결측치 생략

In [48]:
# id 컬럼 제거 
train = train.drop(columns=['id'])
test = test.drop(columns=['id'])

In [45]:
# 라벨(정답, y값인 NObeyesdad 분리)


# target= train.pop("NObeyesdad")

# dtype -> 카테고리 변환
target = y_train.astype('category')
target.info()

<class 'pandas.core.series.Series'>
Index: 16606 entries, 7320 to 2732
Series name: NObeyesdad
Non-Null Count  Dtype
--------------  -----
16606 non-null  category
dtypes: category(1)
memory usage: 146.3 KB

In [47]:
# train/test object-> category
train.info()
train['family_history_with_overweight'] = train['family_history_with_overweight'].astype('category')
train['gender'] = train['gender'].astype('category')
train['FAVC'] = train['FAVC'].astype('category')
train['CAEC'] = train['CAEC'].astype('category')
train['SMOKE'] = train['SMOKE'].astype('category')
train['SCC'] = train['SCC'].astype('category')
train['CALC'] = train['CALC'].astype('category')
train['MTRANS'] = train['MTRANS'].astype('category')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20758 entries, 0 to 20757
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              20758 non-null  int64
 1   Gender                          20758 non-null  int64
 2   Age                             20758 non-null  float64
 3   Height                          20758 non-null  float64
 4   Weight                          20758 non-null  float64
 5   family_history_with_overweight  20758 non-null  int64
 6   FAVC                            20758 non-null  int64
 7   FCVC                            20758 non-null  float64
 8   NCP                             20758 non-null  float64
 9   CAEC                            20758 non-null  int64
 10  SMOKE                           20758 non-null  int64
 11  CH2O                            20758 non-null  float64
 12  SCC                             20758 non-null  int64
 13  FAF                             20758 non-null  float64
 14  TUE                             20758 non-null  float64
 15  CALC                            20758 non-null  int64
 16  MTRANS                          20758 non-null  int64
dtypes: float64(8), int64(9)
memory usage: 2.7 MB

KeyError: 'gender'

In [39]:
# 라벨 인코딩
from sklearn.preprocessing import LabelEncoder
cols = train.columns[train.dtypes == object]
for col in cols:
    le = LabelEncoder()
    le.fit(pd.concat([train[col],test[col]], axis=0))
    train[col] = le.transform(train[col])
    test[col] = le.transform(test[col])
test

,id,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS
0,20758,1,26.899886,1.848294,120.644178,1,1,2.938616,3.000000,2,0,2.825629,0,0.855400,0.000000,2,3
1,20759,0,21.000000,1.600000,66.000000,1,1,2.000000,1.000000,2,0,3.000000,0,1.000000,0.000000,2,3
2,20760,0,26.000000,1.643355,111.600553,1,1,3.000000,3.000000,2,0,2.621877,0,0.000000,0.250502,2,3
3,20761,1,20.979254,1.553127,103.669116,1,1,2.000000,2.977909,2,0,2.786417,0,0.094851,0.000000,2,3
4,20762,0,26.000000,1.627396,104.835346,1,1,3.000000,3.000000,2,0,2.653531,0,0.000000,0.741069,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13835,34593,1,23.327836,1.721384,78.030383,1,0,2.813234,3.000000,2,0,1.000000,0,0.807076,0.778632,2,3
13836,34594,0,29.000000,1.590000,62.000000,0,1,3.000000,3.000000,2,0,2.000000,0,0.000000,0.000000,2,3
13837,34595,0,22.935612,1.585547,44.376637,0,1,3.000000,2.273740,1,0,2.000000,0,1.949840,1.000000,2,3
13838,34596,1,21.000000,1.620000,53.000000,1,1,2.000000,3.000000,2,0,2.000000,0,3.000000,2.000000,3,3
13839,34597,1,26.490926,1.812259,120.980508,1,1,2.744994,3.000000,2,0,2.205977,0,1.304291,0.630866,2,3

In [40]:
from sklearn.preprocessing import LabelEncoder

# 훈련 데이터의 y값에 대해 인코더 학습 및 변환
le = LabelEncoder()
y_train_encoded = le.fit_transform(y_train)

# 검증 데이터의 y값에도 학습된 인코더를 그대로 적용 (transform)
y_val_encoded = le.transform(y_val)

# 확인
print(y_train_encoded[:5]) #훈련된 y데이터 상위 5개
print(le.classes_) # 어떤 문자열이 어떤 숫자로 변환되었는지 확인 가능

[4 6 2 4 2]
['Insufficient_Weight' 'Normal_Weight' 'Obesity_Type_I' 'Obesity_Type_II'
 'Obesity_Type_III' 'Overweight_Level_I' 'Overweight_Level_II']

In [38]:
# 검증 데이터 분할
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(train,
                                               target,
                                               test_size=0.2,
                                               random_state=0)
X_train.shape, X_val.shape, y_train.shape, y_val.shape

ValueError: Found input variables with inconsistent numbers of samples: [20758, 16606]

In [49]:
# 학습하기(by.lightgbm)

In [ ]:
# 학습
import lightgbm as lgb
lgbmc = lgb.LGBMClassifier(random_state=0, verbose=-1)
lgbmc.fit(X_train, y_train)
# 검증
pred=lgbmc.predict(X_val) #라벨만
pred_proba = lgbmc.predict_proba(X_val) # 확률값

# vervose : 학습 과정 출력여부(-1:출력 안함)
# 0 : 경고 수준출력, 1: 일반정보 출력, >1: 자세한 정보 출력

In [50]:
# 성능평가 ( roc_auc, accuracy, f1-score)
# 코드값 사용
from sklearn.metrics import roc_auc_score, f1_score, accuracy_score

roc_auc_ovr = roc_auc_score(y_val, pred_proba, multi_class='ovr')
roc_auc_ovo = roc_auc_score(y_val, pred_proba, multi_class='ovo')
accuracy = accuracy_score(y_val, pred)
f1 = f1_score(y_val, pred, average='macro')

print('roc_auc_ovr:', roc_auc_ovr)
print('roc_auc_ovo:', roc_auc_ovo)
print('accuracy:', accuracy)
print('f1:', f1)

In [ ]:
# 예측파일 제출(.csv)
pred_submit=lgbmc.predict(test)
pred_submit

submit_csv = pd.DataFrame({'pred:'pred_submit})
submit_csv.to_csv("result.csv",index=False)