# 문제정의
## 고객별 신용등급 분류
## Column : Credit_Score - 타깃 변수(y), 신용등급(1=Bad, 2=Standard, 3=Good)
## 타깃(라벨, y값) : Credit_Score

In [1]:
#----------------------
# 라이브러리 가져오기
#----------------------

In [10]:
# 판다스 라이브러리
import pandas as pd

# 데이터 불러오기
train = pd.read_csv('./train.csv')
test = pd.read_csv('./test.csv')

In [3]:
#----------------------
# EDA(데이터 전처리)
#----------------------

In [4]:
train.head()
train.tail()
train.sample(5)

# Credit_score가 인코딩이 되어있는 상태라 y값을 따로 정의할 필요는 없을 듯!

,Delay_from_due_date,Num_of_Delayed_Payment,Num_Credit_Inquiries,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Amount_invested_monthly,Monthly_Balance,Credit_Score,Credit_Mix,...,Age,Annual_Income,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Monthly_Inhand_Salary,Changed_Credit_Limit,Outstanding_Debt,Total_EMI_per_month
534,15.0,20.0,2.0,40.399486,216.0,No,55.731786,553.585773,2,Standard,...,32.0,62031.06,4.0,4.0,7.0,4.0,5295.255000,1.35,46.37,160.207941
7009,64.0,15.0,11.0,34.190154,13.0,Yes,459.710411,78.820641,2,Bad,...,39.0,64551.12,6.0,9.0,29.0,6.0,5393.260000,19.42,3462.33,290.794948
7144,23.0,23.0,9.0,33.363182,132.0,Yes,116.998572,212.673420,2,Bad,...,44.0,15712.65,10.0,7.0,22.0,9.0,1195.387500,16.94,2540.41,79.866759
1951,35.0,16.0,7.0,32.243428,68.0,Yes,44.033525,337.569344,2,Bad,...,27.0,20487.10,8.0,10.0,20.0,3.0,1622.258333,8.75,2654.31,30.622965
2343,21.0,10.0,7.0,25.799908,125.0,Yes,87.468593,332.490698,1,Standard,...,30.0,20521.36,10.0,8.0,17.0,3.0,1721.113333,9.94,1896.78,42.152042

In [5]:
train.shape, test.shape

((10000, 21), (10000, 20))

In [6]:
# train의 y값 확인
train['Credit_Score']

# 표형태로 볼려면
train[['Credit_Score']]

# 얼마나 카운팅되어있는지 확인
train[['Credit_Score']].value_counts()

Credit_Score
2               5237
1               2978
3               1785
Name: count, dtype: int64

In [7]:
# 범주형/수치형 구성 확인
train.info()
test.info()
# --> 결측치 X, 결측치 처리 필요 없음

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Delay_from_due_date       10000 non-null  float64
 1   Num_of_Delayed_Payment    10000 non-null  float64
 2   Num_Credit_Inquiries      10000 non-null  float64
 3   Credit_Utilization_Ratio  10000 non-null  float64
 4   Credit_History_Age        10000 non-null  float64
 5   Payment_of_Min_Amount     10000 non-null  object
 6   Amount_invested_monthly   10000 non-null  float64
 7   Monthly_Balance           10000 non-null  float64
 8   Credit_Score              10000 non-null  int64
 9   Credit_Mix                10000 non-null  object
 10  Payment_Behaviour         10000 non-null  object
 11  Age                       10000 non-null  float64
 12  Annual_Income             10000 non-null  float64
 13  Num_Bank_Accounts         10000 non-null  float64
 14  Num_Credit_Card           10000 non-null  float64
 15  Interest_Rate             10000 non-null  float64
 16  Num_of_Loan               10000 non-null  float64
 17  Monthly_Inhand_Salary     10000 non-null  float64
 18  Changed_Credit_Limit      10000 non-null  float64
 19  Outstanding_Debt          10000 non-null  float64
 20  Total_EMI_per_month       10000 non-null  float64
dtypes: float64(17), int64(1), object(3)
memory usage: 1.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Delay_from_due_date       10000 non-null  float64
 1   Num_of_Delayed_Payment    10000 non-null  float64
 2   Num_Credit_Inquiries      10000 non-null  float64
 3   Credit_Utilization_Ratio  10000 non-null  float64
 4   Credit_History_Age        10000 non-null  float64
 5   Payment_of_Min_Amount     10000 non-null  object
 6   Amount_invested_monthly   10000 non-null  float64
 7   Monthly_Balance           10000 non-null  float64
 8   Credit_Mix                10000 non-null  object
 9   Payment_Behaviour         10000 non-null  object
 10  Age                       10000 non-null  float64
 11  Annual_Income             10000 non-null  float64
 12  Num_Bank_Accounts         10000 non-null  float64
 13  Num_Credit_Card           10000 non-null  float64
 14  Interest_Rate             10000 non-null  float64
 15  Num_of_Loan               10000 non-null  float64
 16  Monthly_Inhand_Salary     10000 non-null  float64
 17  Changed_Credit_Limit      10000 non-null  float64
 18  Outstanding_Debt          10000 non-null  float64
 19  Total_EMI_per_month       10000 non-null  float64
dtypes: float64(17), object(3)
memory usage: 1.5+ MB

In [8]:
# 이상치 확인
train.describe()
test.describe()

# 범주형 이상치 확인
train.describe(include='O')
test.describe(include='O')

       Payment_of_Min_Amount Credit_Mix               Payment_Behaviour
count                  10000      10000                           10000
unique                     3          3                               6
top                      Yes   Standard  Low_spent_Small_value_payments
freq                    5167       4590                            3498

In [11]:
# 라벨(정답, y값) 분리
# 학습시켜야하는 모델의 파라미터로 전달
# y_train = train.pop("Credit_Score")
y_train

y_train.value_counts()

Credit_Score
2    5237
1    2978
3    1785
Name: count, dtype: int64

In [ ]:
# 기존 레이블 인코딩

# from sklearn.preprocessing import LabelEncoder
# cols = train.columns[train.dtypes == object] # 범주형 -> 수치형

# for col in cols:
#     le = LabelEncoder()

#     #피팅되는 경우가 안 맞는 경우 각 행마다 이동할 때 train,text행을 합치기
#     le.fit(pd.concat([train[col],test[col]] ,axis=0)) # axis=0 행합치기, axis=1 열합치기

#     #따로 분리
#     train[col] = le.transform(train[col])
#     test[col] = le.transform(test[col])

#### 인코딩대체방법(범주형 type -> category로 변경)

In [13]:
train.info()
# category로 Dtype(데이터 타입) 변경
train['Payment_of_Min_Amount'] = train['Payment_of_Min_Amount'].astype('category')
train['Credit_Mix '] = train['Credit_Mix'].astype('category')
train['Payment_Behaviour'] = train['Payment_Behaviour'].astype('category')

test['Payment_of_Min_Amount'] = train['Payment_of_Min_Amount'].astype('category')
test['Credit_Mix '] = train['Credit_Mix'].astype('category')
test['Payment_Behaviour'] = train['Payment_Behaviour'].astype('category')

train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Delay_from_due_date       10000 non-null  float64
 1   Num_of_Delayed_Payment    10000 non-null  float64
 2   Num_Credit_Inquiries      10000 non-null  float64
 3   Credit_Utilization_Ratio  10000 non-null  float64
 4   Credit_History_Age        10000 non-null  float64
 5   Payment_of_Min_Amount     10000 non-null  object
 6   Amount_invested_monthly   10000 non-null  float64
 7   Monthly_Balance           10000 non-null  float64
 8   Credit_Mix                10000 non-null  object
 9   Payment_Behaviour         10000 non-null  object
 10  Age                       10000 non-null  float64
 11  Annual_Income             10000 non-null  float64
 12  Num_Bank_Accounts         10000 non-null  float64
 13  Num_Credit_Card           10000 non-null  float64
 14  Interest_Rate             10000 non-null  float64
 15  Num_of_Loan               10000 non-null  float64
 16  Monthly_Inhand_Salary     10000 non-null  float64
 17  Changed_Credit_Limit      10000 non-null  float64
 18  Outstanding_Debt          10000 non-null  float64
 19  Total_EMI_per_month       10000 non-null  float64
dtypes: float64(17), object(3)
memory usage: 1.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Delay_from_due_date       10000 non-null  float64
 1   Num_of_Delayed_Payment    10000 non-null  float64
 2   Num_Credit_Inquiries      10000 non-null  float64
 3   Credit_Utilization_Ratio  10000 non-null  float64
 4   Credit_History_Age        10000 non-null  float64
 5   Payment_of_Min_Amount     10000 non-null  category
 6   Amount_invested_monthly   10000 non-null  float64
 7   Monthly_Balance           10000 non-null  float64
 8   Credit_Mix                10000 non-null  object
 9   Payment_Behaviour         10000 non-null  category
 10  Age                       10000 non-null  float64
 11  Annual_Income             10000 non-null  float64
 12  Num_Bank_Accounts         10000 non-null  float64
 13  Num_Credit_Card           10000 non-null  float64
 14  Interest_Rate             10000 non-null  float64
 15  Num_of_Loan               10000 non-null  float64
 16  Monthly_Inhand_Salary     10000 non-null  float64
 17  Changed_Credit_Limit      10000 non-null  float64
 18  Outstanding_Debt          10000 non-null  float64
 19  Total_EMI_per_month       10000 non-null  float64
 20  Credit_Mix                10000 non-null  category
dtypes: category(3), float64(17), object(1)
memory usage: 1.4+ MB

In [ ]:
#문자형 -> 숫자형으로 변환
train
test

In [ ]:
#------------------------
# 검증 데이터 분할
#------------------------

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(
    train,
    y_train, #target 위치
    test_size=0.2,
    random_state=0)

In [ ]:
X_train, X_val, y_train, y_val
#train : 학습에 사용될, val : 검증에 사용될

X_train.shape, X_val.shape, y_train.shape, y_val.shape

#--------------------
# 머신러닝 학습 및 평가
#--------------------

## 머신러닝 학습

In [ ]:
# 1. 랜덤포레스트 학습

# 범주형 데이터를 자료형만 바꿨을 때는 문제가 발생할 예정
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state=0) # 난수값고정 in->out 고정값
rf.fit(X_train, y_train) # 모델 학습
pred_rf=rf.predict_proba(X_val)
pred_rf

In [ ]:
#2. LIGHTGBM 학습
import lightgbm as lgb
lgbmc = lgb.LGBMClassifier(random_state=0, verbose=-1)
lgbmc.fit(X_train, y_train)
pred=lgbmc.predict(X_val) # 예측 y값
pred # 결과 : 예측값 도출
pred_proba = lgbmc.predict_proba(X_val) # 예측 확률값

## 평가

In [ ]:
# 정확도와 F1_SCORE 확인
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score

# roc_auc = roc_auc_score(y_val, pred_proba[:,1]) # 예측 확률값 [오답예측확률, 정답예측확률]
accuracy = accuracy_score(y_val, pred) # pred 예측 y값
f1 = f1_score(y_val,pred,average='macro') # pred 예측 y값 (클래스별(1,2,3 정답값) 성능을 동등하게 반영)

#출력
# print('roc_auc: ', roc_auc)
print('accuracy: ', accuracy)
print('f1: ', f1)

#-------------------------
# 예측 파일 제출(.csv)
#-------------------------

In [ ]:
pred_submit=lgbmc.predict(test)
pred_submit

In [ ]:
submit_csv = pd.DataFrame({'pred':pred_submit})
submit_csv.to_csv("result.csv",index=False)